In [ ]:
# Load CSV file from my google drive 

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**1**. Dicrete and Continous random variables are two types of quantitive variables. Dicrete random variables represents counts and can only take certain values (eg, 1 human, not 1/2 human). Continous random variables represents measurable amounts and takes values from a certain interval. 

In the data set, the Discrete random variables are **id**, **host_id**,  **minimum_nights**, **number_of_reviews**, **calculated_host_listings_count** and **availability_365**. 

The continous random variables are **latitude**, **longtitude** and **reviews_per_month**, **price**, **last_review**.

In [ ]:
import pandas as pd

path = '/content/drive/MyDrive/Colab Notebooks/listings.csv'
dl = pd.read_csv(path)

dl.head()

      id  ... availability_365
0  49091  ...              365
1  50646  ...              365
2  56334  ...              365
3  71609  ...              353
4  71896  ...              355

[5 rows x 16 columns]

2. Pre-process the data, you can replace NaN values with zero and the mean of the variable.

In [ ]:
print(dl.head())

print(dl.isna().values.any())
newDataListingsDrop = dl.dropna()
newDataListingsFill = dl.fillna(0)
print("Original Length:", len(dl))
print("Dropped Length:", len(newDataListingsDrop))
print("Replaced Length:", len(newDataListingsFill))

      id  ... availability_365
0  49091  ...              365
1  50646  ...              365
2  56334  ...              365
3  71609  ...              353
4  71896  ...              355

[5 rows x 16 columns]
True
Original Length: 7907
Dropped Length: 5148
Replaced Length: 7907

In [ ]:
for i in dl:
  print(i, dl[i].isna().values.any())

print("\n")

newDataListingsFill2 = dl
for i in dl:
  if dl[i].dtypes == object :
    newDataListingsFill2[i] = dl[i].fillna("Not Available")
  else :
    mean = dl[i].mean()
    newDataListingsFill2[i] = dl[i].fillna(mean)

print(newDataListingsFill2)

id False
name False
host_id False
host_name False
neighbourhood_group False
neighbourhood False
latitude False
longitude False
room_type False
price False
minimum_nights False
number_of_reviews False
last_review False
reviews_per_month False
calculated_host_listings_count False
availability_365 False


            id  ... availability_365
0        49091  ...              365
1        50646  ...              365
2        56334  ...              365
3        71609  ...              353
4        71896  ...              355
...        ...  ...              ...
7902  38105126  ...               61
7903  38108273  ...              365
7904  38109336  ...              173
7905  38110493  ...               30
7906  38112762  ...              365

[7907 rows x 16 columns]

3. Mean and Variance for each continous and discrete random variables. For data listings where NaN values are replaced with 0 and mean.

In [ ]:
print("NaN values replaced by 0\n")
for i in newDataListingsFill:
  if newDataListingsFill[i].dtypes != object :
     print("Mean value of ", i, "in newDataListingsFill is ", newDataListingsFill[i].mean())
     print("Variance of ", i, "in newDataListingsFill is ", newDataListingsFill[i].var())
print("\n")

print("NaN values replaced by mean\n")
for i in newDataListingsFill2:
  if newDataListingsFill[i].dtypes != object :
    print("Mean value of ", i, "in newDataListingsFill2 is ", newDataListingsFill2[i].mean())
    print("Variance of ", i, "in newDataListingsFill2 is ", newDataListingsFill2[i].var())
print("\n")

NaN values replaced by 0

Mean value of  id in newDataListingsFill is  23388624.629568737
Variance of  id in newDataListingsFill is  103310190502777.36
Mean value of  host_id in newDataListingsFill is  91144807.40533705
Variance of  host_id in newDataListingsFill is  6709099893759819.0
Mean value of  latitude in newDataListingsFill is  1.314192464904513
Variance of  latitude in newDataListingsFill is  0.0009349800983125476
Mean value of  longitude in newDataListingsFill is  103.84878745794845
Variance of  longitude in newDataListingsFill is  0.0019074744053256827
Mean value of  price in newDataListingsFill is  169.33299607942328
Variance of  price in newDataListingsFill is  115727.60260831242
Mean value of  minimum_nights in newDataListingsFill is  17.510054382192994
Variance of  minimum_nights in newDataListingsFill is  1771.9567354764006
Mean value of  number_of_reviews in newDataListingsFill is  12.807385860629822
Variance of  number_of_reviews in newDataListingsFill is  882.5501705877178
Mean value of  reviews_per_month in newDataListingsFill is  0.6796319716706684
Variance of  reviews_per_month in newDataListingsFill is  1.3240641068855823
Mean value of  calculated_host_listings_count in newDataListingsFill is  40.60768938914885
Variance of  calculated_host_listings_count in newDataListingsFill is  4242.601195609099
Mean value of  availability_365 in newDataListingsFill is  208.72631845200456
Variance of  availability_365 in newDataListingsFill is  21351.064476743264


NaN values replaced by mean

Mean value of  id in newDataListingsFill2 is  23388624.629568737
Variance of  id in newDataListingsFill2 is  103310190502777.36
Mean value of  host_id in newDataListingsFill2 is  91144807.40533705
Variance of  host_id in newDataListingsFill2 is  6709099893759819.0
Mean value of  latitude in newDataListingsFill2 is  1.314192464904513
Variance of  latitude in newDataListingsFill2 is  0.0009349800983125476
Mean value of  longitude in newDataListingsFill2 is  103.84878745794845
Variance of  longitude in newDataListingsFill2 is  0.0019074744053256827
Mean value of  price in newDataListingsFill2 is  169.33299607942328
Variance of  price in newDataListingsFill2 is  115727.60260831242
Mean value of  minimum_nights in newDataListingsFill2 is  17.510054382192994
Variance of  minimum_nights in newDataListingsFill2 is  1771.9567354764006
Mean value of  number_of_reviews in newDataListingsFill2 is  12.807385860629822
Variance of  number_of_reviews in newDataListingsFill2 is  882.5501705877178
Mean value of  reviews_per_month in newDataListingsFill2 is  1.0436686735289245
Variance of  reviews_per_month in newDataListingsFill2 is  1.0766218313631537
Mean value of  calculated_host_listings_count in newDataListingsFill2 is  40.60768938914885
Variance of  calculated_host_listings_count in newDataListingsFill2 is  4242.601195609099
Mean value of  availability_365 in newDataListingsFill2 is  208.72631845200456
Variance of  availability_365 in newDataListingsFill2 is  21351.064476743264

4. In this particular case for both Data Sets where NaN values are replaced by 0 and mean values respectively. There is no significant difference in terms of variance in all variables between both data sets.